:host {
  display: block;
}

.payment-page {
  min-height: 680px;

  padding: 75px 20px;

  display: grid;
  place-items: center;
}

.payment-container {
  width: 100%;
  max-width: 410px;
}

.payment-header {
  text-align: center;
}

.payment-icon {
  width: 54px;
  height: 54px;

  margin: auto;

  display: grid;
  place-items: center;

  border-radius: 50%;

  background: #fff0e8;

  color: #d95d32;

  font-size: 18px;
  font-weight: 800;
}

.kicker {
  margin: 18px 0 0;

  color: #d95d32;

  font-size: 8px;
  font-weight: 900;

  letter-spacing: 2px;
}

.payment-header h1 {
  margin: 12px 0 8px;

  font-family: Georgia, serif;

  font-size: 40px;

  font-weight: 400;

  line-height: 0.95;
}

.payment-header h1 span {
  color: #d95d32;

  font-style: italic;
}

.payment-header > p:last-child {
  color: #968d85;

  font-size: 9px;
}

.payment-header > p strong {
  color: #403a36;
}

.payment-card {
  margin-top: 30px;

  padding: 22px;

  border: 1px solid #e6ded6;

  border-radius: 13px;

  background: white;
}

.amount {
  padding: 20px;

  text-align: center;

  border-radius: 9px;

  background: #faf4ee;
}

.amount span {
  display: block;

  color: #9a9189;

  font-size: 8px;
}

.amount strong {
  display: block;

  margin-top: 5px;

  color: #292522;

  font-size: 28px;
}

.method {
  margin-top: 15px;

  padding: 13px;

  display: flex;
  align-items: center;

  gap: 10px;

  border: 1px solid #d95d32;

  border-radius: 8px;

  background: #fff8f4;
}

.gcash-logo {
  width: 32px;
  height: 32px;

  display: grid;
  place-items: center;

  border-radius: 6px;

  background: #087bf5;

  color: white;

  font-size: 12px;
  font-weight: 900;
}

.method div:nth-child(2) {
  flex: 1;
}

.method strong,
.method span {
  display: block;
}

.method strong {
  font-size: 9px;
}

.method span {
  margin-top: 3px;

  color: #958c85;

  font-size: 7px;
}

.method > b {
  color: #d95d32;
}

.pay-button {
  margin-top: 15px;

  padding: 14px;

  display: flex;
  justify-content: space-between;

  border-radius: 8px;

  background: #d95d32;

  color: white;

  font-size: 9px;
  font-weight: 800;

  text-decoration: none;
}

.pay-button span {
  font-size: 13px;
}

.secure {
  margin: 13px 0 0;

  color: #aaa19a;

  text-align: center;

  font-size: 7px;
}

.back {
  display: block;

  margin-top: 20px;

  color: #d95d32;

  text-align: center;

  font-size: 8px;
  font-weight: 800;

  text-decoration: none;
}
